.DS_STORE

# Virtualenv related
bin/
include/
pip-selfcheck.json

# Django related 
translator/translator/settings/local.py
# static-cdn/  # any collected static files 

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

